.vscode

# compiled output
/dist
./node_modules
/react/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
lerna-debug.log*

.turbo

# next.js
.next
/out/


# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

_env/.env
/rabbitmq

env
env.*
.env*
# Ignore app build manifests
app-build-manifest*.json

# Webpack build artifacts
**/*.js
node_modules
